[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[0a8c5a13-e33e-43ee-a586-25dd07093604]
row=0
col=0

[5454-656D]
row=1
col=0

[tmp]
row=2
col=0

[/]
row=3
col=0

[/home/lewdfoxxo]
row=4
col=0

